@model Model_9H.MemberCardModel
@{
    ViewBag.Title = "会员卡";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css {
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
}
@if (Model == null)
{
    // 未创建会员卡
    <span>未创建会员卡</span>
}
else
{
    Model_9H.MemberInfoModel memberInfoModel = ViewBag.MemberInfo;
    if (memberInfoModel == null)
    {
        // 未领取会员卡
        @section js {
            <script>
                $(function () {
                    var cardID = '@Model.CardID';
                    var apiConfig = {
                        cardList: []
                    };

                    $.ajax({
                        url: '/home/getapiconfig?authorizerappid=' + '@ViewBag.AuthorizerAppID' + '&cardid=' + cardID,
                        type: 'get',
                        async: !1,
                        dataType: 'json',
                        success: function (data) {
                            if (data) {
                                if (data.code == 0) {
                                    var configData = data.data;
                                    apiConfig.cardList.push({
                                        cardId: cardID,
                                        cardExt: configData.cardExt
                                    });
                                    wx.addCard(apiConfig);
                                } else {
                                    alert(data.msg);
                                }
                            }
                        },
                        error: function () {
                            console && console.log('签名失败')
                        }
                    });
                })
            </script>
        }
    }
    else
    {
        <div class="page">
            <div class="page-hd">
                <div class="card-face">
                    <div class="card-face-hd">
                        <!-- 卡面设计请遵循https://mp.weixin.qq.com/cgi-bin/readtemplate?t=cardticket/card_cover_tmpl&type=info&lang=zh_CN，像素大小控制在1000像素*600像素以下 -->
                        <img src="@Model.BackgroundPicUrl" />
                        <div class="flex card-face-region">
                            <div class="card-face-logo">
                                <img src="@Model.LogoUrl" />
                            </div>
                            <div class="flex-item card-face-text">
                                <p class="card-text-brand">@Model.BrandName</p>
                                <p class="card-text-title">@Model.Title</p>
                            </div>
                        </div>
                        <a class="card-face-qrcode" href="javascript:;"><i class="icon icon-qrcode icon-3x"></i></a>
                        <a class="card-face-num" href="javascripts:;">@memberInfoModel.MembershipNumber</a>
                        <a class="card-face-details" href="javascript:;"><i class="icon icon-info-circle disabled"></i></a>
                    </div>
                    <div class="card-face-bd flex">
                        <div class="flex-item">
                            <p>积分</p>
                            <p>52</p>
                        </div>
                        <div class="flex-item">
                            <p>余额</p>
                            <p>0.00</p>
                        </div>
                        <div class="flex-item">
                            <p>优惠券</p>
                            <p>0张</p>
                        </div>
                        <div class="flex-item">
                            <p>等级</p>
                            <p>普通会员</p>
                        </div>
                    </div>
                    <div class="flex card-face-ft">
                        <div class="flex-item">
                            <a class="btn btn-success" href="javascript:;">会员买单</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-bd">
                <div class="card-services-title">
                    <p>会员服务</p>
                </div>
                <div class="card-services">
                    <div class="card-service flex">
                        <div class="flex-item">
                            <p><i class="icon icon-flag"></i></p>
                            <p>领券中心</p>
                        </div>
                        <div class="flex-item">
                            <p><i class="icon icon-flag"></i></p>
                            <p>领券中心</p>
                        </div>
                        <div class="flex-item">
                            <p><i class="icon icon-flag"></i></p>
                            <p>领券中心</p>
                        </div>
                        <div class="flex-item">
                            <p><i class="icon icon-flag"></i></p>
                            <p>领券中心</p>
                        </div>
                    </div>
                    <div class="card-service flex">
                        <div class="flex-item">
                            <p><i class="icon icon-flag"></i></p>
                            <p>领券中心</p>
                        </div>
                        <div class="flex-item">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-ft">

            </div>
        </div>
    }
}