<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit" />

    <title>@ViewBag.Title</title>
    @RenderSection("css", false)

    <link href="../../css/icon.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script src="../../js/flexible.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="../../plugins/jquery/jquery.js"></script>
    
    <script>
        $(function () {
            var url = (location.href.split('#'))[0].toString();
            url = encodeURIComponent(url);

            var config = {
                debug: false,
                appId: '@ViewBag.AuthorizerAppID',
                timestamp: '',
                nonceStr: '',
                signature: '',
                jsApiList: ['openCard', 'addCard', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone', 'openAddress', 'chooseWXPay']
            };

            $.ajax({
                url: '/home/getjsapiconfig?authorizerappid=' + '@ViewBag.AuthorizerAppID' + '&url=' + url,
                type: 'get',
                async: !1,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        if (data.code == 0) {
                            var configData = data.data;
                            config.timestamp = configData.timestamp,
                            config.nonceStr = configData.nonceStr,
                            config.signature = configData.signature
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function () {
                    console && console.log('签名失败')
                }
            });

            wx.config(config);
        })
    </script>
    @RenderSection("js", false)
</body>
</html>
